.testimonial {
    display: none;
}

.brands {
    display: none;
}

.header {
    background: radial-gradient(#fff, #ffd6d600);
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}

.buttons {
    position: relative;
    /* padding-top: 10px; */
    margin-right: 60px;
}

.delete-btn,
.like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}

.like-btn {
    position: static;
    /* top: 10px; */
    left: 15px;
    background: url("https://designmodo.com/demo/shopping-cart/twitter-heart.png");
    width: 70px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
}

button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

#toCartText {
    font-size: 12px;
    color: green;
    font-weight: 600;
    letter-spacing: 2px;
}

#toCartTextError {
    font-size: 12px;
    color: red;
    font-weight: 600;
    letter-spacing: 2px;
}
